@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  min-width: 0;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.input-no-bg {
  background: transparent !important;
  background-color: transparent !important;
}

body.blur-active #root {
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  transition: filter 0.3s;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollLoop 40s linear infinite;
}